.TrainingTimeSelection {
  padding-top: 5%;
  text-align: center;
}
.RestTimeSelection {
  padding-top: 5%;
  text-align: center;
}
.Wrapper{
     padding-top: 5%;
      text-align: center;
}
.ContinueLinkChooseExercises {
  padding-top: 5%;
  text-align: center;
}

.ContinueLinkRandomExercises{
  padding-top: 5%;
  text-align: center;

}
