h1 {
    font-family: "Roboto";
    text-align: center;
    margin-bottom: 40px;
  }

.timers {
  padding-top: 30px;
  text-align: "center"
}

.timer-wrapper {
  display: flex;
  justify-content: center;
}

.timer {
  font-family: "Montserrat", "Roboto", "Arial";
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  color: #aaa;
}

.value {
  font-size: 40px;
}

.info {
  max-width: 360px;
  margin: 40px auto 0;
  text-align: center;
  font-size: 16px;
}

.button-wrapper {
  text-align: center;
  margin-top: 40px;
}
.container{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 50vh;
  animation:  animate 5s ease-in-out infinite;
}
.outer{
  position: absolute;
  left:0;
  top:0;
  width: 50%;
  height: 50vh;
}
@keyframes animate{
  0%,100%{
      background-image: url("../images/Bird-dog-1.jpg");
  }
  25%{
      background-image: url("../images/Bird-dog-2.jpg");
  }
  50%{
      background-image: url("../images/Bird-dog-3.jpg");
  }
}